<html>
<head>
	<% include header %>
</head>


<body>

<style>
	body {
		background-color: #757575;
	}
	</style>

	<div class="container">

	<img src='<%= user.photos[2].value %>' alt='Your Avatar Image' /></p>
	<p>ID: <%= user.id %></p>
	<p>Name: <%= user.displayName %></p>

	<a class="waves-effect waves-light btn" href="..">Go Back</a>

	</div>
</body>	
