<html>
<head>
	<% include header %>
</head>


<body>
	<style>
	body {
		background-color: #757575;
	}
	</style>


	<div class="container">

<% if (!user) { %>
	<div class="col s6"><h2>Welcome to Sauna.</h2></div>
	<a class="waves-effect waves-light btn" href="auth/steam">Sign On with Steam</a>

<% } else { %>

	<div class="col s12"><h2>Hello, <%= user.displayName %>.</h2><br></div>

	<a class="waves-effect waves-light btn" href='logout'>Logout</a>
	<a class="waves-effect waves-light btn" href="randomizegame">Randomize Game</a>
	<a class="waves-effect waves-light btn" href="account">See Account Information</a>

<% } %>

	</div>
</body>

