
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="brand-logo center">Sauna | Powered by Steam</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>