<html>
<head>
	<% include header %>
</head>


<body>
	<div class="container">

<style>
	body {
		background-color: #757575;
	}
	</style>

	<h2>You should play:</h2>

	<iframe src="http://store.steampowered.com/widget/<%= generateGame %>/" frameborder="0" width="646" height="190"></iframe><br> 

	<a class="waves-effect waves-light btn" href="randomizegame">Reroll</a>
	<a class="waves-effect waves-light btn" href="..">Go Back</a>
	</div> 
