<html>
<head>
	<% include header %>
</head>


<body>

<style>
	body {
		background-color: #757575;
	}
	</style>

	<h2>You should play:</h2>

	<iframe src="http://store.steampowered.com/widget/<%= generateGame %>/" frameborder="0" width="646" height="190"></iframe> 
